<form [formGroup]="form" (ngSubmit)="agregar()" novalidate>

  <div class="container">
    <label>nombres:</label>
    <input formControlName="nombres" type="text" placeholder="Nombres del contacto">
  </div>
  <div class="container">
    <label>apellidos:</label>
    <input formControlName="apellidos" type="text" placeholder="apellidos del contacto">
  </div>
  <div class="container">
    <label>Lugar de trabajo:</label>
    <input formControlName="lTrabajo" type="text" placeholder="Lugar de trabjo del contacto">
  </div>
  <div class="container">
    <label>Numero telefonico:</label>
    <input formControlName="numFijo" type="text" placeholder="numero de telefono fijo">
  </div>
  <div class="container">
    <label>Numero celular:</label>
    <input formControlName="numMovil" type="text" placeholder="Numero telefono celular">
  </div>
  <div class="container">
    <label>Direccion:</label>
    <input formControlName="direccion" type="text" placeholder="direccion del contacto">
  </div>
  <div class="container">
    <label>Correo electronico:</label>
    <input formControlName="email" type="text" placeholder="correo electronico del contacto">
  </div>
  <div *ngIf="form.get('email').errors">
    <p *ngIf="form.get('email').hasError('email')">escribe bien el correo</p> 
  </div>

      <button *ngIf="!form.invalid" >Agregar</button>

  
</form>
<button (click)="goBack()"> volver</button>