.container{
     
    margin-top: 1%;
    display: grid;
    grid-template-areas: 'myArea myArea';
    grid-gap: 10px;
}

.container input[type="text"]{
    padding: 1%;
    position: relative;
    left: 0;
    width: 250px;
    height: 30px;
    border: none;
    border-bottom: 3px solid #2c3e50;
}
.container label{
    padding: 1%;
    width: 250px;
    position: relative;
    left: 20%;
}
form{
    margin: 1%;
    padding: 1%;
    width: 50%;
    position: relative;
    left: 20%;
    -webkit-box-shadow: 2px 6px 8px 4px rgba(52, 73, 94,.3);
    -moz-box-shadow: 2px 6px 8px 4pxrgba(52, 73, 94,.3);
    box-shadow: 2px 6px 8px 4px rgba(52, 73, 94,.3);
    border-bottom:7px dotted rgba(39, 174, 96,1.0);
    border-radius: 20px;
}
button{
    margin: 2%;
    color: aliceblue;
    border:none;
    width: 150px;
    height: 50px;
    background: rgba(52, 152, 219,1.0);
}
button:hover{
    background: rgba(41, 128, 185,1.0);
}