.grid-container{
    display: grid;
    grid-template-areas: 'myArea myArea';
    grid-gap: 1px;
   
    padding: 10px;
}
.izq{
    color:rgba(44, 62, 80,1.0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-display: center;
    display: grid;
    grid-template-areas: 'myArea myArea';
    grid-gap: 10px;
    
    padding: 3%;
    align-content: center;
}
.izq,.der{
    -webkit-box-shadow: 2px 15px 16px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 15px 16px -4px rgba(0,0,0,0.75);
box-shadow: 2px 15px 16px -4px rgba(0,0,0,0.75);
}
.der{
   background-color: rgba(44, 62, 80,1.0);
   color: white;
   padding: 5%;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
.der span{
    font-size: 1.5em;
}
.izq input,label {
   
    display:block;
   margin:1%; 
 
}
.izq label{
    position: initial;
    margin-top: 6%;
    padding: 1%;
    right: 0;
}
.izq input{
    margin: 3%;
    border: none;
    width: 100%;
    height: 30px;
    border-bottom: 3px solid #2c3e50;
    text-align: center;
  

}
.izq input:focus{
   border-left: 3px solid #2c3e50;
}
button{
    margin: 2%;
    color: aliceblue;
    border:none;
    width: 150px;
    height: 50px;
    background: rgba(52, 152, 219,1.0);
}
button:hover{
    background: rgba(41, 128, 185,1.0);
}