<div class=" grid-container" *ngIf="contacto">
    
    <div class="izq">
      <div >
          <label for="txtnombre">Nombres: </label>
          <label for="txta">Apellidos: </label>
          <label for="txtl">Lugar de trabajo: </label>
          <label for="txtnf">Numero telefonico: </label>
          <label for="txtcel">Numero Celular: </label>
          <label for="txtdir">Direccion: </label>
          <label for="txtcor">Correo electronico: </label>
      </div>
      <div>
          <input id="txtnombre" *ngIf="contacto" [(ngModel)]="contacto.nombres" placeholder="nombres de la persona"/>
       
          <input id="txta" *ngIf="contacto" [(ngModel)]="contacto.apellidos" placeholder="apellidos de la persona"/>
          
          <input id="txtl" *ngIf="contacto" [(ngModel)]="contacto.lTrabajo" placeholder="lugar de trabajo"/>
          
          <input id="txtnf" type="tel" *ngIf="contacto" [(ngModel)]="contacto.numFijo" placeholder="numero telefonico fijo"/>
          
          <input id="txtcel" type="tel" *ngIf="contacto" [(ngModel)]="contacto.numMovil" placeholder="numero de telelfono celular"/>
          
          <input id="txtdir" *ngIf="contacto" [(ngModel)]="contacto.direccion" placeholder="direccion"/>
          
          <input id="txtcor" type="email" *ngIf="contacto" [(ngModel)]="contacto.email" placeholder="correo electronico"/>
      </div>
        
       
    </div>
    <div class="der">
      <span> {{contacto.nombres}} </span> <span>  {{contacto.apellidos}}</span>
      <p>lugar de trabajo: {{contacto.lTrabajo}}</p>
      <p>Telefono fijo: {{contacto.numFijo}} </p>
      <p>Telefono celular: {{contacto.numMovil}}</p>
      <p>Direccion: {{contacto.direccion}}</p>
      <p>Correo electronico: {{contacto.email}} </p>
    </div>
</div>
  <button (click)="guardar()">Guardar</button>
  <button (click)="goBack()"> volver</button>
