<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <ul>
        <li>  <a routerLink="/agenda">Mi agenda</a></li>
        
      </ul>
  <nav>
 
 </nav>
<router-outlet></router-outlet>
</div>
