<div class="body">

        <h1>AGENDA DE CONTACTOS</h1>

<div class="listado">

                <div class="agregar" [routerLink]="['/agregar']"> agregar </div>    
                <input type="text" [(ngModel)]="nombres" placeholder="Buscar contacto"/>
        <div  class="container" *ngFor="let contacto of contactos |contactofilter:nombres " [routerLink]="['/detalle',contacto.id]">
                <div class="item">
                      <span>{{contacto.nombres}}  </span> <span> {{contacto.apellidos}}</span>
                </div>
                <div class="delete" (click)="borrar(contacto)">x</div>
            </div>
</div>
        
</div>