.item{
    width: 250px;
    align-content: left;
    padding: 2%;
    border-bottom: 2px solid rgba(41, 128, 185,1.0);
    color: rgba(236, 240, 241,1);
   margin: 2%;
    font-size: 1em;
    cursor: pointer;
}
.container{
    display: grid;
    grid-template-areas: 'myArea myArea';
    grid-gap: 10px;
}
.listado{
   display: inline-block;
   
    left: 40%;
 
    width: 40%;
    background-color: rgba(52, 73, 94,1.0);
    -webkit-box-shadow: 2px 6px 8px 4px rgba(0,0,0,0.3);
-moz-box-shadow: 2px 6px 8px 4px rgba(0,0,0,0.3);
box-shadow: 2px 6px 8px 4px rgba(0,0,0,0.3);
}
.body{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
    padding: 1%;
}
.delete{
    padding: 1%;
    width: 40px;
    height: 40px;
    margin: 2%;
    left: 50%;
    align-content: center;
    background-color: rgb(231, 77, 60);
    color: rgb(240, 248, 255);
    font-size: 1.5em;
    position: initial;
    border-radius: 100%;
    cursor: pointer;
}
.delete:hover{
    padding: 2%;
}
.agregar{
    width: 90%;
    height: 35px;
    padding: 5%;
    color: aliceblue;
    background-color: rgba(46, 204, 113,1.0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
}
.agregar:hover{
    border-bottom: 5px solid rgba(39, 174, 96,1.0);

}
input[type="text"]{
    padding: 2%;
    width: 95.5%;
}